.app-content-icon {
  --slds-c-icon-color-foreground-default: rgb(1 118 211 / 100%);
}

.app-content-persona {
  font-style: italic;
}

.app-header-color {
  color: var(--slds-g-color-palette-blue-15);
}

.app-details-btn-layout {
  --slds-c-button-brand-color-background: rgb(0 112 210 / 100%);
}